<h3>Available</h3>
<div class="center-group">
  <div class="name-list clearfix">
    {{#each model as |user|}}
      <button class={{if user.here "present" "absent"}} {{action 'presentToggle' user}}>
        {{user.name}}
      </button>
    {{/each}}
  </div>
</div>
<div class="pairing">
  <h3>Pairing</h3>
  <button {{action 'generatePairs'}}>Generate Pairs</button>
  <ul class="list">
    {{#each pairs as |pair|}}
      <li>
        {{pair}}
      </li>
    {{/each}}
  </ul>
</div>
